/* Estilos para alinear el título junto al botón de menú */
.content-menu {
    display: flex;
    align-items: center;

}

.content-menu h1 {
    margin: 0;
    font-size: 1.5rem;
    
}

h1{
    flex-grow: 1;
    text-align: center;
    font-size: 1.5rem;
}

.menu-btn {
    background: transparent;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
}

.ahorros-container{
    margin: 40px;
    background-color: transparent;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

.ahorros-container h2{
    text-align: center;
    margin: 10px 0;
    font-size: 1.5rem;
}

/* transacciones: verde/rojo */
.trans-positivo{
    color: green;
}
.trans-negativo{
    color: red;
}

/* lista: espacio y fuente */
#transacciones-list li{
    margin: 6px 0;
    font-size: 0.95rem;
}

.ahorros-container input{
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.ahorros-container button{
    padding: 10px 10px;
    font-size: 1rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cont-entrada{
    margin: 40px;
    background-color: transparent;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

.cont-entrada input{
    width: 63%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.cont-gastos{
    margin: 40px;
    background-color: transparent;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

.cont-gastos input{
    width: 63%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-s{
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-r{
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* estilo para contenedores/elementos deshabilitados */
.disabled {
    opacity: 0.5;
    pointer-events: none; /* evita interacción */
}

/* asegurar que inputs y botones dentro de .disabled se vean deshabilitados */
.disabled input,
.disabled button {
    cursor: not-allowed;
}

.cont-resumen{
    margin: 40px;
    background-color: transparent;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

.cont-list{
    margin: 40px;
    background-color: transparent;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}